@charset "UTF-8";

body {
    font: normal 15pt Arial;
    background: rgb(107, 107, 241);
}

header {
    color: white;
    text-align: center;
}

main {
    margin: auto;
    padding: 15px;

    width: 500px;

    background: white;
    border-radius: 10px;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.284);
}

div {
    padding: 10px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}